<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/foodhub"></ion-back-button>
      </ion-buttons>
    <ion-title>Login Here</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
     
<ion-grid>
      <ion-row>
          <ion-col size-md="6" offset-md="3">
                  <ion-item>
                      <ion-label color="primary" position="floating">Username</ion-label>
                      <ion-input type="text" color="default" id="input-username" required></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label color="primary" position="floating">Password</ion-label>
                      <ion-input type="password" color="default" id="input-password"></ion-input>
                  </ion-item>
                        <br>
                      <!-- should be login function or service -->
                      <ion-button [routerLink]="['/home']" color="warning" fill="solid" shape="round">Sign in</ion-button> 
          </ion-col>
      </ion-row>
  </ion-grid>    
</ion-content>
