
<ion-content padding class="home-background">
  <ion-grid>
    <ion-row no-padding>
      <ion-col no-padding no-margin class='login-col'>
        <ion-button [routerLink]="['/login']" fill="solid" shape="round" size='large' color="warning">Login</ion-button>
        </ion-col>
    </ion-row>
    <ion-row no-margin>
      <ion-col>
        <ion-button [routerLink]="['/registration']" fill="solid" shape="round" size='large' color="primary">Sign up</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>












